.env
__pycache__/
.pytest_cache/
.venv/
venv/
*.pyc
data/*
!data/.gitkeep
storage/raw_videos/*
storage/processed/*
storage/cache/*
storage/output/*
!storage/raw_videos/.gitkeep
!storage/processed/.gitkeep
!storage/cache/.gitkeep
!storage/output/.gitkeep
output/*
!output/.gitkeep
