WEATHER_SERVICE_KEY=
DISCORD_TOKEN=
DISCORD_CHANNEL_ID=
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
POSTGRES_DSN=
WEATHER_ALARM_LOCAL=
WEATHER_NX=58
WEATHER_NY=125
WEATHER_LOCATION_NAME=서울 가산동
BROADCAST_DB_PATH=weather_alarm.db
